.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: "20px";
}

.image-container>div {
    width: 45%;
    height: auto;
    margin-bottom: 20px;
}

.image-container>div>img {
    width: 100%;
}

.image-gallery-right img {
    height: 282px;
}